@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/mjhill13/air-quality-app" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <footer style="position: fixed; bottom: 0; margin-left: 10px;">
            <p style="font-size:16px">@DateTime.Now.Year - Matthew Hill</p>
        </footer>
    </main>
</div>
