@page "/"
@using AirQualityApp.Shared.Models

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Air Quality Measurements</h1>

<p>This page allows you to search for air quality measurements for a given city. You may also use the advanced filters to narrow down results.</p>

<div class="d-flex justify-content-center">
@if (_countries is not null)
{
    <div class="col-md-2">
        <select @onchange="DoSelectCountry">
            <option value="_select">(Select a country...)</option>
            @foreach (var country in _countries)
            {
                <option value=@country.Code>@($"{country.Name} ({country.Code})")</option>
            }
        </select>
    </div>
}

@if (_selectedCountry is not null && _cities is not null)
{
    <div class="col-md-2">
        <select @onchange="DoSelectCity">
            <option value="_select">(Select a city...)</option>
            @foreach (var city in _cities)
            {
                <option value=@city.Name>@city.Name</option>
            }
        </select>
    </div>
}
</div>

<br />
<br />

@if (_selectedCity is not null)
{
    <Measurements SelectedCity="@_selectedCity" />
}

@code {
    private Country[]? _countries;
    private string? _selectedCountry;
    
    private City[]? _cities;
    private string? _selectedCity;
    
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<Country[]>("Home/Countries");
        _countries = response?.ToArray();
    }

    private async Task DoSelectCountry(ChangeEventArgs e)
    {
        _selectedCountry = e.Value?.ToString();

        if (_selectedCountry == "_select")
        {
            ClearCities();
        }
        else
        {
            var response = await Http.GetFromJsonAsync<City[]>($"Home/Cities?countryCode={_selectedCountry}");
            _cities = response?.ToArray();  
        }
    }
    
    private void DoSelectCity(ChangeEventArgs e)
    {
        _selectedCity = e.Value?.ToString();
    }

    private void ClearCities()
    {
        _selectedCity = null;
        _cities = null;
    }
}